<footer class="footer" id="contacts">
  <div class="container">
    <div class="left">
     <div>
        <picture>
            <source srcset="./img/tablet/footer.webp 1x, ./img/tablet/footer@2x.webp 2x" type="image/webp"
                media="(min-width: 768px)" />
            <source srcset="./img/mobile/footer.webp 1x, ./img/mobile/footer@2x.webp 2x" type="image/webp"
                media="(min-width: 320px)" />
            <source srcset="./img/tablet/footer.png 1x, ./img/tablet/footer@2x.png 2x" media="(min-width: 768px)" />
            <source srcset="./img/mobile/footer.png 1x, ./img/mobile/footer@2x.png 2x" media="(min-width: 320px)" />
        
            <img class="img" src="./img/mobile/footer.png" alt=" Broccoli" height="172" />
        </picture>
        <a class="logo" href="../index.html">
            <svg class="icon" width="16" height="16">
                <use href="./img/sprite.svg#icon-logo"></use>
            </svg>
            veggieboost
        </a>
     </div>
      <load ="partials/navigation.html" />
    </div>
    <div>
      <ul class="networks">
        <li class="link">
          <a target="_blank" href="https://www.facebook.com/"
            ><svg class="icon" width="33" height="33">
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="link">
          <a target="_blank" href="https://www.instagram.com/"
            ><svg class="icon" width="33" height="33">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>

        <li class="link">
          <a target="_blank" href="https://www.youtube.com/">
            <svg class="icon" width="33" height="33">
              <use href="./img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <a class="tel" href="tel:+380684439426"> +380 (68) 443-94-26</a>
      <p class="address">1678 S. Pioneer Road Salt Lake City UT 84104</p>
    </div>
  </div>
</footer>
