<header class="header">
  <load ="partials/navigation.html" />
  <a class="logo" href="../index.html">
    <svg class="icon" width="16" height="16">
      <use href="./img/sprite.svg#icon-logo"></use>
    </svg>
    veggieboost
  </a>
  <button
    class="menu js-open-modal"
    data-modal="menu"
    type="button"
    aria-label="open"
  >
    <svg class="icon" width="24" height="24">
      <use href="./img/sprite.svg#icon-menu"></use>
    </svg>
  </button>
  <button
    class="modal-close js-close-modal"
    data-modal="menu"
    aria-label="close"
  >
    <svg class="icon" width="24" height="24">
      <use href="./img/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <load ="partials/menu.html" />
  <button
    class="btn-order js-open-modal"
    data-modal="order"
    type="button"
    aria-label="open form"
  >
    <svg class="icon" width="16" height="16">
      <use href="./img/sprite.svg#icon-basket"></use>
    </svg>
  </button>
</header>
