<section class="hero">
<div class="container">
    <div class="text-content">
      <ul class="reviews">
        <li>
          <div class="review-box">
            <picture>
              <source srcset="
                    ./img/desktop/review-1.webp    1x,
                    ./img/desktop/review-1@2x.webp 2x
                  " type="image/webp" media="(min-width: 1280px)" />
              <source srcset="
                    ./img/tablet/review-1.webp    1x,
                    ./img/tablet/review-1@2x.webp 2x
                  " type="image/webp" media="(min-width: 768px)" />
              <source srcset="
                    ./img/mobile/review-1.webp    1x,
                    ./img/mobile/review-1@2x.webp 2x
                  " type="image/webp" media="(min-width: 320px)" />
              <source srcset="
                    ./img/desktop/review-1.png    1x,
                    ./img/desktop/review-1@2x.png 2x
                  " media="(min-width: 1280px)" />
              <source srcset="
                    ./img/tablet/review-1.png    1x,
                    ./img/tablet/review-1@2x.png 2x
                  " media="(min-width: 768px)" />
              <source srcset="
                    ./img/mobile/review-1.png    1x,
                    ./img/mobile/review-1@2x.png 2x
                  " media="(min-width: 320px)" />
    
              <img class="img" src="./img/mobile/review-1.png" alt="Review-1" height="40" weight="40" />
            </picture>
          </div>
        </li>
        <li>
          <div class="review-box">
            <picture>
              <source srcset="
                    ./img/desktop/review-2.webp    1x,
                    ./img/desktop/review-2@2x.webp 2x
                  " type="image/webp" media="(min-width: 1280px)" />
              <source srcset="
                    ./img/tablet/review-2.webp    1x,
                    ./img/tablet/review-2@2x.webp 2x
                  " type="image/webp" media="(min-width: 768px)" />
              <source srcset="
                    ./img/mobile/review-2.webp    1x,
                    ./img/mobile/review-2@2x.webp 2x
                  " type="image/webp" media="(min-width: 320px)" />
              <source srcset="
                    ./img/desktop/review-2.png    1x,
                    ./img/desktop/review-2@2x.png 2x
                  " media="(min-width: 1280px)" />
              <source srcset="
                    ./img/tablet/review-2.png    1x,
                    ./img/tablet/review-2@2x.png 2x
                  " media="(min-width: 768px)" />
              <source srcset="
                    ./img/mobile/review-2.png    1x,
                    ./img/mobile/review-2@2x.png 2x
                  " media="(min-width: 320px)" />
    
              <img class="img" src="./img/mobile/review-2.png" alt="Review-2" height="40" weight="40" />
            </picture>
          </div>
        </li>
        <li>
          <div class="review-box">
            <picture>
              <source srcset="
                    ./img/desktop/review-3.webp    1x,
                    ./img/desktop/review-3@2x.webp 2x
                  " type="image/webp" media="(min-width: 1280px)" />
              <source srcset="
                    ./img/tablet/review-3.webp    1x,
                    ./img/tablet/review-3@2x.webp 2x
                  " type="image/webp" media="(min-width: 768px)" />
              <source srcset="
                    ./img/mobile/review-3.webp    1x,
                    ./img/mobile/review-3@2x.webp 2x
                  " type="image/webp" media="(min-width: 320px)" />
              <source srcset="
                    ./img/desktop/review-3.png    1x,
                    ./img/desktop/review-3@2x.png 2x
                  " media="(min-width: 1280px)" />
              <source srcset="
                    ./img/tablet/review-3.png    1x,
                    ./img/tablet/review-3@2x.png 2x
                  " media="(min-width: 768px)" />
              <source srcset="
                    ./img/mobile/review-3.png    1x,
                    ./img/mobile/review-3@2x.png 2x
                  " media="(min-width: 320px)" />
    
              <img class="img" src="./img/mobile/review-3.png" alt="Review-3" height="40" weight="40" />
            </picture>
          </div>
        </li>
        <li>
          <div class="review-box">
            <p><span>2K</span> reviews</p>
          </div>
        </li>
      </ul>
      <div class="titles">
        <h1 class="title">
          organic <span class="accent">vegetables</span> to your diet today!
        </h1>
        <h2 class="subtitle">
          Our expertly curated fruit baskets are made with the freshest, highest
          quality vegetables available. Fresh Harvest Box has got you covered.
          Fresh, high-quality vegetables in expertly curated fruit baskets
          delivered to you.
        </h2>
        <button class="btn-order js-open-modal" data-modal="order" type="button" aria-label="open form">
          Shop now
        </button>
      </div>
    </div>
    <div class="img-content">
      <picture>
        <source srcset="
              ./img/desktop/hero-girl.webp    1x,
              ./img/desktop/hero-girl@2x.webp 2x
            " type="image/webp" media="(min-width: 1280px)" />
        <source srcset="
              ./img/tablet/hero-girl.webp    1x,
              ./img/tablet/hero-girl@2x.webp 2x
            " type="image/webp" media="(min-width: 768px)" />
        <source srcset="
              ./img/mobile/hero-girl.webp    1x,
              ./img/mobile/hero-girl@2x.webp 2x
            " type="image/webp" media="(min-width: 320px)" />
        <source srcset="
              ./img/desktop/hero-girl.png    1x,
              ./img/desktop/hero-girl@2x.png 2x
            " media="(min-width: 1280px)" />
        <source srcset="./img/tablet/hero-girl.png 1x, ./img/tablet/hero-girl@2x.png 2x" media="(min-width: 768px)" />
        <source srcset="./img/mobile/hero-girl.png 1x, ./img/mobile/hero-girl@2x.png 2x" media="(min-width: 320px)" />
    
        <img class="girl" src="./img/mobile/hero-girl.png" alt="Girl" height="228" />
      </picture>
      <div class="socials">
        <ul class="tags">
          <li>&#35;organic</li>
          <li>&#35;products</li>
          <li>&#35;basket</li>
          <li>&#35;vegetables</li>
        </ul>
      </div>
    </div>
</div>
  
</section>
