<section class="how-it-works" id="how-it-works">
  <div class="row">
    <h2 class="title">
      To order your vegetable basket, simply follow these easy steps
    </h2>
    <picture>
      <source
        srcset="
          ./img/desktop/how-it-works-veg.webp    1x,
          ./img/desktop/how-it-works-veg@2x.webp 2x
        "
        type="image/webp"
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/tablet/how-it-works-veg.webp    1x,
          ./img/tablet/how-it-works-veg@2x.webp 2x
        "
        type="image/webp"
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/mobile/how-it-works-veg.webp    1x,
          ./img/mobile/how-it-works-veg@2x.webp 2x
        "
        type="image/webp"
        media="(min-width: 320px)"
      />
      <source
        srcset="
          ./img/desktop/how-it-works-veg.png    1x,
          ./img/desktop/how-it-works-veg@2x.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/tablet/how-it-works-veg.png    1x,
          ./img/tablet/how-it-works-veg@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/mobile/how-it-works-veg.png    1x,
          ./img/mobile/how-it-works-veg@2x.png 2x
        "
        media="(min-width: 320px)"
      />

      <img
        class="broccoli"
        src="./img/mobile/how-it-works-veg.png"
        alt="Broccoli"
        height="158"
        width="335"
      />
    </picture>
  </div>
  <div class="description row">
    <p>
      Our baskets are assembled with care and delivered straight to your
      doorstep, so you can enjoy the taste of fresh fruit without ever leaving
      your home.
    </p>
    <p>
      Whether you're looking for a healthy snack or a thoughtful gift, our fruit
      baskets are the perfect choice.
    </p>
  </div>
  <div class="steps row">
    <div class="content">
      <h3 class="subtitle">3 Easy Steps for Buying Fresh Vegetables</h3>
      <ol class="list">
        <li class="step">
          Just choose the vegetable you want to order by clicking on the
          checkboxes next to it.
        </li>
        <li class="step">Click on the basket and fill out the form.</li>
        <li class="step">
          Sit back and relax! Your fresh vegetables basket will be delivered.
        </li>
      </ol>
    </div>
    <picture>
      <source
        srcset="
          ./img/desktop/how-it-works-kid.webp    1x,
          ./img/desktop/how-it-works-kid@2x.webp 2x
        "
        type="image/webp"
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/tablet/how-it-works-kid.webp    1x,
          ./img/tablet/how-it-works-kid@2x.webp 2x
        "
        type="image/webp"
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/mobile/how-it-works-kid.webp    1x,
          ./img/mobile/how-it-works-kid@2x.webp 2x
        "
        type="image/webp"
        media="(min-width: 320px)"
      />
      <source
        srcset="
          ./img/desktop/how-it-works-kid.png    1x,
          ./img/desktop/how-it-works-kid@2x.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="./img/tablet/subscribe.png 1x, ./img/tablet/subscribe@2x.png 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/tablet/how-it-works-kid.png    1x,
          ./img/tablet/how-it-works-kid@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/mobile/how-it-works-kid.png    1x,
          ./img/mobile/how-it-works-kid@2x.png 2x
        "
        media="(min-width: 320px)"
      />

      <img
        class="img"
        src="./img/mobile/how-it-works-kid.png"
        alt="Broccoli"
        height="319"
        width="258"
      />
    </picture>
  </div>
</section>
