<div class="modal" data-modal="menu">
  <div class="menu-modal">
    <load ="partials/navigation.html" />
    <button class="btn-order js-open-modal" data-modal="order" type="button" aria-label="open form">
      <svg class="icon" width="16" height="16">
        <use href="./img/sprite.svg#icon-basket"></use>
      </svg>
    </button>
  </div>
</div>
