<nav>
    <ul class="navigation">
        <li class="item">
            <a href="#how-it-works">How It Works</a>
        </li>
        <li class="item">
            <a href="#vegetables">Vegetables</a>
        </li>
        <li class="item">
            <a href="#contacts">Contacts</a>
        </li>
    </ul>
</nav>