<div class="modal" data-modal="order">
  <div class="head">
    <h2 class="title">YOUR ORDER</h2>
    <button class="modal-close js-close-modal" aria-label="close">
      <svg class="icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <form class="form">
    <ul class="list">
      <li class="veg">
        <div class="box">
          <div>
            <h2 class="name">Cabbage Basket</h2>
            <h3 class="type">Plant</h3>
          </div>
          <picture>
            <source
              srcset="
                ./img/desktop/modal-veg-1.webp    1x,
                ./img/desktop/modal-veg-1@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/tablet/modal-veg-1.webp    1x,
                ./img/tablet/modal-veg-1@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./img/mobile/modal-veg-1.webp    1x,
                ./img/mobile/modal-veg-1@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 320px)"
            />
            <source
              srcset="
                ./img/desktop/modal-veg-1.png    1x,
                ./img/desktop/modal-veg-1@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/tablet/modal-veg-1.png    1x,
                ./img/tablet/modal-veg-1@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/mobile/modal-veg-1.png    1x,
                ./img/mobile/modal-veg-1@2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="img"
              src="./img/mobile/modal-veg-1.png"
              alt="Cabbage Basket"
              height="95"
              width="103"
            />
          </picture>
        </div>
        <input class="checkbox" type="checkbox" id="checkbox-1" />
        <label class="label" for="checkbox-1"></label>
      </li>
      <li class="veg">
        <div class="box">
          <div>
            <h2 class="name">Tomato Basket</h2>
            <h3 class="type">Plant</h3>
          </div>
          <picture>
            <source
              srcset="
                ./img/desktop/modal-veg-2.webp    1x,
                ./img/desktop/modal-veg-2@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/tablet/modal-veg-2.webp    1x,
                ./img/tablet/modal-veg-2@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./img/mobile/modal-veg-2.webp    1x,
                ./img/mobile/modal-veg-2@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 320px)"
            />
            <source
              srcset="
                ./img/desktop/modal-veg-2.png    1x,
                ./img/desktop/modal-veg-2@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/tablet/modal-veg-2.png    1x,
                ./img/tablet/modal-veg-2@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/mobile/modal-veg-2.png    1x,
                ./img/mobile/modal-veg-2@2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="img"
              src="./img/mobile/modal-veg-2.png"
              alt="Tomato Basket"
              height="95"
              width="103"
            />
          </picture>
        </div>
        <input class="checkbox" type="checkbox" id="checkbox-2" />
        <label class="label" for="checkbox-2"></label>
      </li>
      <li class="veg">
        <div class="box">
          <div>
            <h2 class="name">Vegetables Basket</h2>
            <h3 class="type">Plant</h3>
          </div>
          <picture>
            <source
              srcset="
                ./img/desktop/modal-veg-3.webp    1x,
                ./img/desktop/modal-veg-3@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/tablet/modal-veg-3.webp    1x,
                ./img/tablet/modal-veg-3@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./img/mobile/modal-veg-3.webp    1x,
                ./img/mobile/modal-veg-3@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 320px)"
            />
            <source
              srcset="
                ./img/desktop/modal-veg-3.png    1x,
                ./img/desktop/modal-veg-3@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/tablet/modal-veg-3.png    1x,
                ./img/tablet/modal-veg-3@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/mobile/modal-veg-3.png    1x,
                ./img/mobile/modal-veg-3@2x.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="img"
              src="./img/mobile/modal-veg-3.png"
              alt="Vegetables Basket"
              height="95"
              width="103"
            />
          </picture>
        </div>
        <input class="checkbox" type="checkbox" id="checkbox-3" />
        <label class="label" for="checkbox-3"></label>
      </li>
    </ul>

    <div class="inputs">
      <input
        type="text"
        name="name"
        class="field"
        pattern="[A-Z]{1}[a-z]{1,30}"
        placeholder="Enter full name..."
        autocomplete="off"
        required
      />

      <input
        class="field"
        type="text"
        name="email"
        pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        placeholder="Enter email..."
        autocomplete="off"
        required
      />

      <input
        class="field"
        type="text"
        name="card"
        pattern="\b\d{4}(| |-)\d{4}\1\d{4}\1\d{4}\b"
        placeholder="Enter card..."
        autocomplete="off"
        required
      />

      <textarea
        rows="4"
        placeholder="Enter comments..."
        class="field comment"
        autocomplete="off"
        required
      >
      </textarea>

      <button class="btn" type="submit" aria-label="Submit form">Submit</button>
    </div>
  </form>
</div>
