<section class="subscribe">
  <div class="content">
    <h2 class="title">Fresh Harvest Box has got you covered</h2>
    <p class="description">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>
    <form class="form">
      <input
         class="input"
          type="text"
          name="tel"
          id="tel"
          pattern="^\d{9}$"
          placeholder="+38 ()"
          autocomplete="off"
          required
      />
      <button class="btn" type="submit">Recall</button>
    </form>
  </div>
  <div class="img-box">
    <picture>
      <source
        srcset="
          ./img/desktop/subscribe.webp    1x,
          ./img/desktop/subscribe@2x.webp 2x
        "
        type="image/webp"
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/tablet/subscribe.webp    1x,
          ./img/tablet/subscribe@2x.webp 2x
        "
        type="image/webp"
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/mobile/subscribe.webp    1x,
          ./img/mobile/subscribe@2x.webp 2x
        "
        type="image/webp"
        media="(min-width: 320px)"
      />
      <source
        srcset="
          ./img/desktop/subscribe.png    1x,
          ./img/desktop/subscribe@2x.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="./img/tablet/subscribe.png 1x, ./img/tablet/subscribe@2x.png 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./img/mobile/subscribe.png 1x, ./img/mobile/subscribe@2x.png 2x"
        media="(min-width: 320px)"
      />

      <img
        class="img"
        src="./img/mobile/subscribe.png"
        alt="Woman"
        height="357"
        width="335"
      />
    </picture>
  </div>
</section>
