<section class="vegetables" id="vegetables">
  <h2 class="title">Organic vegetables</h2>
  <h3 class="subtitle">
    Our organic vegetables are hand-picked from local farms and delivered
    straight to your doorstep, ensuring that you get the freshest and most
    nutritious produce possible.
  </h3>
  <ul class="list">
    <li class="item">
      <h4 class="vegetable">Carrot</h4>
      <p class="type">Plant</p>
      <picture>
        <source
          srcset="./img/tablet/veg-1.webp 1x, ./img/tablet/veg-1@2x.webp 2x"
          type="image/webp"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/mobile/veg-1.webp 1x, ./img/mobile/veg-1@2x.webp 2x"
          type="image/webp"
          media="(min-width: 320px)"
        />
        <source
          srcset="./img/tablet/veg-1.png 1x, ./img/tablet/veg-1@2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/mobile/veg-1.png 1x, ./img/mobile/veg-1@2x.png 2x"
          media="(min-width: 320px)"
        />
        <img
          class="veg-img"
          src="./img/mobile/veg-1.png"
          alt="Carrot"
          height="249"
          width="292"
        />
      </picture>
      <p class="price">100 UAH / kg</p>
    </li>
    <li class="item">
      <h4 class="vegetable">Brussel sprouts</h4>
      <p class="type">Plant</p>
      <picture>
        <source
          srcset="./img/tablet/veg-2.webp 1x, ./img/tablet/veg-2@2x.webp 2x"
          type="image/webp"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/mobile/veg-2.webp 1x, ./img/mobile/veg-2@2x.webp 2x"
          type="image/webp"
          media="(min-width: 320px)"
        />
        <source
          srcset="./img/tablet/veg-2.png 1x, ./img/tablet/veg-2@2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/mobile/veg-2.png 1x, ./img/mobile/veg-2@2x.png 2x"
          media="(min-width: 320px)"
        />
        <img
          class="veg-img"
          src="./img/mobile/veg-2.png"
          alt="Brussel sprouts"
          height="249"
          width="292"
        />
      </picture>
      <p class="price">80 UAH / kg</p>
    </li>
    <li class="item">
      <h4 class="vegetable">Tomato</h4>
      <p class="type">Plant</p>
      <picture>
        <source
          srcset="./img/tablet/veg-3.webp 1x, ./img/tablet/veg-3@2x.webp 2x"
          type="image/webp"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/mobile/veg-3.webp 1x, ./img/mobile/veg-3@2x.webp 2x"
          type="image/webp"
          media="(min-width: 320px)"
        />
        <source
          srcset="./img/tablet/veg-3.png 1x, ./img/tablet/veg-3@2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/mobile/veg-3.png 1x, ./img/mobile/veg-3@2x.png 2x"
          media="(min-width: 320px)"
        />
        <img
          class="veg-img"
          src="./img/mobile/veg-3.png"
          alt="Tomato"
          height="249"
          width="292"
        />
      </picture>
      <p class="price">40 UAH / kg</p>
    </li>
    <li class="item">
      <h4 class="vegetable">Eggplant</h4>
      <p class="type">Plant</p>
      <picture>
        <source
          srcset="./img/tablet/veg-4.webp 1x, ./img/tablet/veg-4@2x.webp 2x"
          type="image/webp"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/mobile/veg-4.webp 1x, ./img/mobile/veg-4@2x.webp 2x"
          type="image/webp"
          media="(min-width: 320px)"
        />
        <source
          srcset="./img/tablet/veg-4.png 1x, ./img/tablet/veg-4@2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/mobile/veg-4.png 1x, ./img/mobile/veg-4@2x.png 2x"
          media="(min-width: 320px)"
        />
        <img
          class="veg-img"
          src="./img/mobile/veg-4.png"
          alt="Eggplant"
          height="249"
          width="292"
        />
      </picture>
      <p class="price">60 UAH / kg</p>
    </li>
    <li class="item">
      <h4 class="vegetable">Sweet potatoes</h4>
      <p class="type">Plant</p>
      <picture>
        <source
          srcset="./img/tablet/veg-5.webp 1x, ./img/tablet/veg-5@2x.webp 2x"
          type="image/webp"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/mobile/veg-5.webp 1x, ./img/mobile/veg-5@2x.webp 2x"
          type="image/webp"
          media="(min-width: 320px)"
        />
        <source
          srcset="./img/tablet/veg-5.png 1x, ./img/tablet/veg-5@2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/mobile/veg-5.png 1x, ./img/mobile/veg-5@2x.png 2x"
          media="(min-width: 320px)"
        />
        <img
          class="veg-img"
          src="./img/mobile/veg-5.png"
          alt="Sweet potatoes"
          height="249"
          width="292"
        />
      </picture>
      <p class="price">80 UAH / kg</p>
    </li>
    <li class="item">
      <h4 class="vegetable">Leek</h4>
      <p class="type">Plant</p>
      <picture>
        <source
          srcset="./img/tablet/veg-6.webp 1x, ./img/tablet/veg-6@2x.webp 2x"
          type="image/webp"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/mobile/veg-6.webp 1x, ./img/mobile/veg-6@2x.webp 2x"
          type="image/webp"
          media="(min-width: 320px)"
        />
        <source
          srcset="./img/tablet/veg-6.png 1x, ./img/tablet/veg-6@2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/mobile/veg-6.png 1x, ./img/mobile/veg-6@2x.png 2x"
          media="(min-width: 320px)"
        />
        <img
          class="veg-img"
          src="./img/mobile/veg-6.png"
          alt="Leek"
          height="249"
          width="292"
        />
      </picture>
      <p class="price">50 UAH / kg</p>
    </li>
    <li class="item">
      <h4 class="vegetable">Mushrooms</h4>
      <p class="type">Plant</p>
      <picture>
        <source
          srcset="./img/tablet/veg-7.webp 1x, ./img/tablet/veg-7@2x.webp 2x"
          type="image/webp"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/mobile/veg-7.webp 1x, ./img/mobile/veg-7@2x.webp 2x"
          type="image/webp"
          media="(min-width: 320px)"
        />
        <source
          srcset="./img/tablet/veg-7.png 1x, ./img/tablet/veg-7@2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/mobile/veg-7.png 1x, ./img/mobile/veg-7@2x.png 2x"
          media="(min-width: 320px)"
        />
        <img
          class="veg-img"
          src="./img/mobile/veg-7.png"
          alt="Mushrooms"
          height="249"
          width="292"
        />
      </picture>
      <p class="price">40 UAH / kg</p>
    </li>
    <li class="item">
      <h4 class="vegetable">Corn</h4>
      <p class="type">Plant</p>
      <picture>
        <source
          srcset="./img/tablet/veg-8.webp 1x, ./img/tablet/veg-8@2x.webp 2x"
          type="image/webp"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/mobile/veg-8.webp 1x, ./img/mobile/veg-8@2x.webp 2x"
          type="image/webp"
          media="(min-width: 320px)"
        />
        <source
          srcset="./img/tablet/veg-8.png 1x, ./img/tablet/veg-8@2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/mobile/veg-8.png 1x, ./img/mobile/veg-8@2x.png 2x"
          media="(min-width: 320px)"
        />
        <img
          class="veg-img"
          src="./img/mobile/veg-8.png"
          alt="Corn"
          height="249"
          width="292"
        />
      </picture>
      <p class="price">60 UAH / kg</p>
    </li>
    <li class="item">
      <h4 class="vegetable">Redish</h4>
      <p class="type">Plant</p>
      <picture>
        <source
          srcset="./img/desktop/veg-9.webp 1x, ./img/desktop/veg-9@2x.webp 2x"
          type="image/webp"
          media="(min-width: 320px)"
        />
        <source
          srcset="./img/desktop/veg-9.png 1x, ./img/desktop/veg-9@2x.png 2x"
          media="(min-width: 320px)"
        />
        <img
          class="veg-img"
          src="./img/desktop/veg-9.png"
          alt="Redish"
          height="249"
          width="292"
        />
      </picture>
      <p class="price">90 UAH / kg</p>
    </li>
  </ul>
  <button
    class="btn-order js-open-modal"
    data-modal="order"
    type="button"
    aria-label="open form"
  >
    <svg class="icon" width="14" height="14">
      <use href="./img/sprite.svg#icon-row"></use>
    </svg>
    Order
  </button>
</section>
