.footer {
  background-color: var(--light-green);
  text-align: center;
  padding: 80px 20px;
}
.footer .img {
  display: block;
  margin: 0 auto 20px;
}
.footer .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 40px;
  cursor: pointer;
}
.footer .logo .icon {
  display: inline-block;
  margin-right: 8px;
}
.footer .networks {
  margin: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .networks .link {
  padding: 8px;
  border: 1px solid var(--dark-text-color);
  border-radius: 10px;
}
.footer .networks .link a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .networks .link:not(:last-of-type) {
  margin-right: 20px;
}
.footer .networks .link .icon {
  fill: var(--dark-text-color);
}
.footer .networks .link:hover,
.footer .networks .link:focus {
  border-color: var(--accent-color);
}
.footer .networks .link:hover .icon,
.footer .networks .link:focus .icon {
  fill: var(--accent-color);
}
.footer .tel {
  margin-bottom: 20px;
  display: inline-block;
}
.footer .tel:hover,
.footer .tel:focus {
  color: var(--accent-color);
}
.footer .address {
  max-width: 135px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .footer {
    padding: 75px 32px;
    text-align: left;
  }
  .footer .container {
    display: flex;
    justify-content: space-between;
  }
  .footer .navigation {
    font-size: 14px;
  }
  .footer .networks {
    margin-top: 0;
  }
  .footer .networks .link {
    padding: 6px;
  }
  .footer .address {
    margin: 0;
    max-width: 175px;
  }
}
@media only screen and (min-width: 1280px) {
  .footer {
    padding: 80px 32px ;
  }
  .footer .container {
    max-width: 1216px;
    margin: 0 auto;
    padding-right: 108px;
  }
  .footer .container .left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 166px;
  }
  .footer .logo {
    margin: 0;
  }
  .footer .address {
    min-width: 184px;
  }
}
