.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 20px;
}
.header .logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  margin-right: auto;
}
.header .logo .icon {
  display: inline-block;
  margin-right: 8px;
  fill: var(--accent-color);
}
.header .menu,
.header .modal-close {
  border: none;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.header .menu {
  display: flex;
}
.header.active .menu {
  display: none;
}
.header .modal-close {
  display: none;
}
.header.active .modal-close {
  display: flex;
}
.header .menu .icon,
.header .modal-close .icon {
  fill: var(--accent-color);
  width: 24px;
  height: 24px;
}
.header .btn-order {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header {
    padding: 16px 32px;
  }
  .header .logo {
    margin-right: 230px;
  }
  .header .menu,
  .header .modal-close {
    display: none;
  }
  .header .btn-order {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
  }
  .header .btn-order .icon {
    width: 16px;
    height: 16px;
    fill: var(--accent-color);
  }
  .header .btn-order:hover .icon,
  .header .btn-order:focus .icon {
    fill: var(--orange);
  }
}
@media only screen and (min-width: 1280px) {
  .header {
    width: 1280px;
    margin: 0 auto;
  }
}
