.hero {
  background-color: var(--bcg-color);
  color: var(--light-bcg-color);
  padding: 40px 0px 20px;
}
.hero .container .text-content {
  padding: 0 18px;
  margin-bottom: 7px;
}
.hero .container .titles {
  margin-bottom: 20px;
}
.hero .container .title {
  font-size: 39px;
  font-weight: 500;
  margin-bottom: 20px;
}
.hero .container .title .accent {
  font-style: italic;
  color: var(--light-green);
}
.hero .container .subtitle {
  font-size: 14px;
  font-weight: 400;
}
.hero .container .socials {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 0 20px;
}
.hero .container .reviews {
  display: flex;
  margin-bottom: 14px;
}
.hero .container .reviews li {
  position: relative;
  border: 2px solid var(--light-bcg-color);
  border-radius: 100%;
  width: 44px;
  height: 44px;
}
.hero .container .reviews li:nth-child(1) {
  top: 0;
  left: 0;
}
.hero .container .reviews li:nth-child(2) {
  left: -13px;
}
.hero .container .reviews li:nth-child(3) {
  left: -26px;
}
.hero .container .reviews li:nth-child(4) {
  left: -39px;
  background-color: var(--light-bcg-color);
  color: var(--dark-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 8px;
}
.hero .container .reviews li:nth-child(4) span {
  display: block;
}
.hero .container .tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 180px;
}
.hero .container .tags li {
  margin: 1px;
  padding: 6px 10px;
  border: 1px solid var(--light-bcg-color);
  font-size: 10px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 100px;
}
.hero .container .tags li:first-child {
  background-color: var(--light-bcg-color);
  color: var(--dark-text-color);
}
.hero .container .img-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero .container .img-content .girl {
  min-height: 218px;
}
.hero .container .titles .btn-order {
  padding: 9px;
  border: none;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  background-color: var(--light-orange);
  color: var(--orange);
  text-transform: uppercase;
  font-weight: 500;
  transform: rotate(-20deg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-top: 20px;
}
.hero .container .titles .btn-order:hover,
.hero .container .titles .btn-order:focus {
  color: var(--accent-color);
  background-color: var(--light-green);
}
.hero .container .titles .btn-order .icon {
  display: block;
  margin-right: 4px;
}
@media only screen and (min-width: 768px) {
  .hero {
    padding: 80px 0 32px;
  }
  .hero .container .text-content {
    padding: 0 32px;
    margin-bottom: 7px;
  }
  .hero .container .text-content .titles {
    margin-bottom: 0;
  }
  .hero .container .text-content .title {
    font-size: 52px;
    margin-bottom: 24px;
  }
  .hero .container .text-content .subtitle {
    padding-right: 100px;
    margin-bottom: 32px;
  }
  .hero .container .socials {
    justify-content: flex-end;
    padding: 0 32px;
  }
  .hero .container .reviews {
    margin-bottom: 16px;
  }
  .hero .container .reviews li {
    width: 50px;
    height: 50px;
  }
  .hero .container .tags {
    min-width: 218px;
    margin: -2px;
  }
  .hero .container .tags li {
    padding: 10px 16px;
    margin: 2px;
    line-height: 1.1;
    font-size: 12px;
  }
  .hero .container .reviews li:nth-child(4) {
    font-size: 8px;
  }
  .hero .container .reviews li:nth-child(4) span {
    font-size: 18px;
  }
  .hero .container .img-content .girl {
    min-height: 391px;
  }
  .hero .container .titles .btn-order {
    width: 120px;
    height: 120px;
    font-size: 28px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero {
    padding: 127px 0 32px;
  }
  .hero .container {
    max-width: 1280px;
    display: flex;
    margin: 0 auto;
    padding: 0 32px;
    justify-content: space-between;
  }
  .hero .container .text-content {
    padding: 0;
    width: auto;
    margin: 0;
  }
  .hero .container .text-content .titles {
    max-width: 840px;
    padding-right: 50px;
  }
  .hero .container .text-content .title {
    font-size: 64px;
    margin-bottom: 15px;
  }
  .hero .container .reviews li {
    width: 66px;
    height: 66px;
  }
  .hero .container .reviews li:nth-child(4) {
    font-size: 14px;
  }
  .hero .container .tags {
    min-width: 266px;
  }
  .hero .container .tags li {
    padding: 12px 28px;
  }
  .hero .container .img-content {
    align-items: flex-end;
    position: relative;
    margin: 0;
    padding: 0;
    width: 515px;
    justify-content: flex-start;
  }
  .hero .container .img-content .veg {
    display: block;
  }
  .hero .container .img-content .btn-order {
    position: absolute;
    bottom: 25%;
    left: 60%;
  }
  .hero .container .img-content .girl {
    max-height: 423px;
  }
  .hero .container .socials {
    padding: 0;
    margin-top: auto;
  }
}
