.how-it-works {
  padding: 80px 20px;
}
.how-it-works .title {
  font-size: 28px;
  margin-bottom: 20px;
}
.how-it-works .broccoli {
  margin-bottom: 20px;
}
.how-it-works .description p:not(:last-of-type) {
  margin-bottom: 20px;
}
.how-it-works .steps {
  margin-top: 80px;
  background: var(--light-orange);
  border-radius: 40px;
  padding: 40px 17px 0 17px;
  background-image: url('../img/mobile/how-it-works-bcg.png');
  background-size: 100% 100%;
}
@media (-webkit-min-device-pixel-ratio: 2) {
  .how-it-works .steps {
    background-image: url('../img/mobile/how-it-works-bcg@2x.png');
    background-size: 100% 100%;
  }
}
.how-it-works .steps .subtitle {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.how-it-works .list {
  list-style: none;
  counter-reset: my-awesome-counter;
  position: relative;
  padding-right: 60px;
  margin: 0;
}
.how-it-works .list .step {
  counter-increment: my-awesome-counter;
  display: flex;
  align-items: center;
  margin-left: 14px;
}
.how-it-works .list .step::before {
  content: counter(my-awesome-counter);
  padding: 10px;
  background-color: var(--accent-color);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  left: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.how-it-works .list .step:not(:last-of-type) {
  margin-bottom: 21px;
}
.how-it-works .img {
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .how-it-works {
    padding: 100px 32px;
  }
  .how-it-works .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .how-it-works .title {
    font-size: 40px;
    font-weight: 500;
    width: 100%;
    margin-bottom: 0;
  }
  .how-it-works .broccoli {
    min-width: 310px;
    height: 176px;
    display: block;
    margin-bottom: 0;
  }
  .how-it-works .description {
    padding-right: 20px;
    margin-top: 40px;
  }
  .how-it-works .description p {
    width: 50%;
  }
  .how-it-works .description p:not(:last-of-type) {
    margin-bottom: 0;
    margin-right: 20px;
  }
  .how-it-works .steps {
    border-radius: 80px;
    padding: 0;
    padding-top: 40px;
    margin-top: 100px;
    background-image: url('../img/tablet/how-it-works-bcg.png');
    background-size: 100% 100%;
    flex-direction: row-reverse;
  }
  @media (-webkit-min-device-pixel-ratio: 2) {
    .how-it-works .steps {
      background-image: url('../img/tablet/how-it-works-bcg@2x.png');
      background-size: 100% 100%;
    }
  }
  .how-it-works .steps .subtitle {
    font-size: 28px;
    font-weight: 500;
  }
  .how-it-works .steps .content {
    width: 50%;
    font-size: 14px;
    padding: 0px 30px;
    align-items: baseline;
  }
  .how-it-works .img {
    width: 350px;
    height: 446px;
  }
  .how-it-works .list .step:not(:last-of-type) {
    margin-bottom: 24px;
  }
  .how-it-works .list .step::before {
    width: 45px;
    height: 45px;
  }
}
@media only screen and (min-width: 1280px) {
  .how-it-works {
    padding: 124px 32px;
    max-width: 1280px;
    margin: 0 auto;
  }
  .how-it-works .title {
    font-size: 48px;

    line-height: 1;
    margin-right: 100px;
  }
  .how-it-works .broccoli {
    min-width: 410px;
    height: 170px;
  }
  .how-it-works .description {
    padding-right: 532px;
    align-items: baseline;
  }
  .how-it-works .description p:not(:last-of-type) {
    margin-right: 40px;
  }
  .how-it-works .steps {
    border-radius: 80px;
    padding: 20px 80px 0;
    margin-top: 124px;
    background-image: url('../img/desktop/how-it-works-bcg.png');
    background-size: 100% 100%;
    flex-direction: row-reverse;
  }
  @media (-webkit-min-device-pixel-ratio: 2) {
    .how-it-works .steps {
      background-image: url('../img/desktop/how-it-works-bcg@2x.png');
      background-size: 100% 100%;
    }
  }
  .how-it-works .steps .subtitle {
    font-size: 40px;
  }
  .how-it-works .steps .content {
    padding: 0;
    margin-bottom: 44px;
    padding-right: 20px;
  }
  .how-it-works .list {
    padding-right: 130px;
  }
  .how-it-works .list .step:not(:last-of-type) {
    margin-bottom: 28px;
  }
  .how-it-works .img {
    width: 434px;
    min-width: 420px;
  }
}
