.modal[data-modal='menu'] {
  padding: 124px 140px;
  width: 100vw;
  border-radius: 0;
  margin-top: 50px;
  height: 100vh;
  background-color: var(--bcg-color);
  text-align: center;
  color: var(--light-bcg-color);
  font-size: 14px;
}
.modal[data-modal='menu'] .btn-order {
  border: none;
  background-color: transparent;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
}

.modal[data-modal='menu'] .btn-order .icon {
  width: 16px;
  height: 16px;
  fill: var(--light-bcg-color);
}
.modal[data-modal='menu'] .btn-order:hover .icon,
.modal[data-modal='menu'] .btn-order:focus .icon {
  fill: var(--orange);
}
