.modal-overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: opacity var(--transition), visibility var(--transition);
}
.modal {
  opacity: 0;
  visibility: hidden;
  width: 335px;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 20px;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 2;
  background-color: var(--light-bcg-color);
  transition: var(--transition) all;
  color: var(--black);
  padding: 32px 24px;
  border-radius: 15px;
}
.modal.active,
.modal-overlay.active {
  opacity: 1;
  visibility: visible;
  backdrop-filter: blur(10px);
}
.modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15px;
  right: 15px;
  background-color: transparent;
  border: none;
}
.modal-close .icon {
  stroke: var(--dark-text-color);
}
.modal-close .icon:hover,
.modal-close .icon:focus {
  stroke: var(--accent-color);
}
.modal .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.modal .head .title {
  margin: 0;
}
.modal .form .checkbox {
  display: none;
}
.modal .form .label[for='checkbox-1'],
.modal .form .label[for='checkbox-2'],
.modal .form .label[for='checkbox-3'] {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

/* Add the SVG icon */
.label[for='checkbox-1']:before,
.label[for='checkbox-2']:before,
.label[for='checkbox-3']:before {
  content: '';
  display: inline-block;
  position: absolute;
  left: -14px;
  width: 16px;
  height: 16px;
  border: 1.5px solid var(--accent-color);
  border-radius: 4px;
}
.modal .form .checkbox:checked + .label[for='checkbox-1']:before,
.modal .form .checkbox:checked + .label[for='checkbox-2']:before,
.modal .form .checkbox:checked + .label[for='checkbox-3']:before {
  content: url('../img/pick.svg');
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .form .list {
  margin-bottom: 40px;
}
.modal .form .list .veg {
  display: flex;
  justify-content: space-between;
  background-color: var(--light-orange);
  border-radius: 20px;
  padding: 14px;
  position: relative;
}
.modal .form .list .veg:not(:last-of-type) {
  margin-bottom: 12px;
}
.modal .form .list .veg .box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.modal .form .list .veg .box .img {
  height: auto;
  width: 115px;
}
.modal .form .list .veg .name {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 2px;
}
.modal .form .list .veg .type {
  font-size: 14px;
  font-weight: 400;
}
.modal .form .field {
  width: 100%;
  border-radius: 100px;
  border: 1px solid var(--grey);
  padding: 14px 24px;
  font-size: 14px;
  margin-bottom: 14px;
}
.modal .form .field:focus {
  outline: 1px solid var(--accent-color);
}
.modal .form .field.comment {
  border-radius: 20px;
  height: 132px;
  margin-bottom: 20px;
}
.modal .form .btn {
  padding: 12px 24px;
  background-color: var(--orange);
  border: none;
  border-radius: 100px;
  color: var(--light-bcg-color);
}
.modal .form .btn:hover,
.modal .form .btn:focus {
  background-color: var(--accent-color);
}
@media screen and (max-height: 500px) {
  .modal {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden auto;
  }
}
@media only screen and (min-width: 768px) {
  .modal {
    width: 704px;
    padding: 40px;
    background-image: url(../img/tablet/modal-bcg.png);
    background-repeat: no-repeat;
    background-size: auto 413px;
    background-position: bottom right;
  }
  @media (-webkit-min-device-pixel-ratio: 2) {
    .modal {
      background-image: url(../img/tablet/modal-bcg@2x.png);
      background-repeat: no-repeat;
      background-size: auto 413px;
      background-position: bottom right;
    }
  }
  .modal .head {
    position: relative;
  }
  .modal-close {
    position: absolute;
    top: -17px;
    right: -17px;
  }
  .modal .form .list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .modal .form .list .veg:not(:last-of-type) {
    margin-bottom: 0;
  }
  .modal .form .list .veg .box {
    flex-direction: column;
    padding-top: 26px;
  }
  .modal .form .list .veg .box .img {
    height: 142px;
    width: 172px;
  }
  .modal .form .list .veg .name {
    font-size: 18px;
  }
  .modal .form .inputs {
    width: 60%;
  }
}
@media only screen and (min-width: 1280px) {
  .modal {
    width: 891px;
    background-image: url(../img/desktop/modal-bcg.png);
    background-repeat: no-repeat;
    background-size: auto 360px;
    background-position: bottom right;
  }
  @media (-webkit-min-device-pixel-ratio: 2) {
    .modal {
      background-image: url(../img/desktop/modal-bcg@2x.png);
      background-repeat: no-repeat;
      background-size: auto 360px;
      background-position: bottom right;
    }
  }
  .modal .form .list .veg .box .name {
    font-size: 24px;
    margin-bottom: 8px;
  }
  .modal .form .list .veg .box .img {
    width: 230px;
    height: auto;
  }
  .modal .form .inputs {
    width: 50%;
  }
}
