.header .navigation {
  display: none;
}
.menu-modal .navigation {
  display: block;
}
.menu-modal .navigation .item {
  margin-bottom: 16px;
}
.menu-modal .navigation .item:hover,
.menu-modal .navigation .item:focus {
  color: var(--orange);
}
.footer .navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .navigation .item:not(:last-of-type) {
  margin-right: 20px;
}
.footer .navigation .item:hover,
.footer .navigation .item:focus {
  color: var(--accent-color);
}
@media only screen and (min-width: 768px) {
  .header .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }
  .header .navigation .item:not(:last-of-type) {
    margin-right: 14px;
  }
  .header .navigation .item:hover,
  .header .navigation .item:focus {
    color: var(--accent-color);
  }
}
@media only screen and (min-width: 1280px) {
  .header .navigation .item:not(:last-of-type) {
    margin-right: 20px;
  }
}
