@import url('./modern-normalize.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./menu.css');
@import url('./navigation.css');
@import url('./hero.css');
@import url('./how-it-works.css');
@import url('./vegetables.css');
@import url('./subscribe.css');
@import url('./footer.css');
@import url('./modal.css');

 /* *,
 *::after,
 *::before {
  outline: 2px solid red;
 } */

:root {
  --light-bcg-color: #fff;
  --dark-text-color: #141414;
  --accent-color: #77ac63;
  --bcg-color: #A1C487;
  --light-orange: #faf3e7;
  --orange: #fc8a11;
  --light-green: #eaf7e5;
  --grey: rgba(20, 20, 20, 0.3)
}
@font-face {
  font-family: 'DM Sans';
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/DMSans-Regular.ttf');
}
@font-face {
  font-family: 'DM Sans';
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/DMSans-Medium.ttf');
}
@font-face {
  font-family: 'DM Sans';
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/DMSans-Bold.ttf');
}
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/DMSans-BoldItalic.ttf');
}
.body {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 400;
  color: var(--dark-text-color);
  background-color: var(--light-bcg-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.stop-scroll {
  overflow: hidden;
  height: 100%;
}
@media only screen and (min-width: 768px) {
  .body {
    font-size: 18px;
  }
  .title {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 1280px) {
  .title {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 40px;
    line-height: 1.04;
  }
}
