.subscribe {
  padding: 80px 18px;
  text-align: center;
  margin: 0 auto;
  width: 375px;
}
.subscribe .description {
  font-size: 13px;
  margin-bottom: 40px;
}
.subscribe .form {
  position: relative;
  margin-bottom: 40px;
}
.subscribe .form .input {
  padding: 14px 24px;
  border-radius: 100px;
  border: 1px solid rgba(20, 20, 20, 0.5);
  color: rgba(20, 20, 20, 0.5);
  font-size: 14px;
  width: 100%;
}
.subscribe .form .input:focus {
  outline-color: var(--accent-color);
}
.subscribe .form .btn {
  position: absolute;
  right: 0;
  padding: 14px 35px;
  border: none;
  border-radius: 100px;
  border: 1px solid var(--orange);
  background-color: var(--orange);
  color: var(--light-bcg-color);
}
.subscribe .form .btn:hover,
.subscribe .form .btn:focus {
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
}
.subscribe .img-box {
  border-radius: 40px;
  background-color: var(--light-orange);
  background-image: url('../img/mobile/subscribe-bcg.png');
  background-size: 100% 100%;
  overflow: hidden;
  height: 388px;
  position: relative;
}
@media (-webkit-min-device-pixel-ratio: 2) {
  .subscribe .img-box {
    background-image: url('../img/mobile/subscribe-bcg@2x.png');
    background-size: 100% 100%;
  }
}
.subscribe .img {
  width: 335px;
  height: 357px;
  position: absolute;
  bottom: 0;
}
@media only screen and (min-width: 768px) {
  .subscribe {
    text-align: center;
    width: 100%;
    padding: 100px 32px;
  }
  .subscribe .content {
    width: 524px;
    margin: 0 auto;
  }
  .subscribe .description {
    padding: 0 50px;
    text-align: center;
  }

  .subscribe .form {
    width: 60%;
    margin: 0 auto 80px;
  }

  .subscribe .form .btn {
    font-size: 14px;
  }
  .subscribe .img-box {
    width: 704px;
    height: 500px;
    margin: 0 auto;
    background-image: url('../img/tablet/subscribe-bcg.png');
    background-size: 100% 100%;
  }
  .subscribe .img {
    width: 704px;
    height: 500px;
    position: absolute;
    bottom: 0;
  }
  @media (-webkit-min-device-pixel-ratio: 2) {
    .subscribe .img-box {
      background-image: url('../img/tablet/subscribe-bcg@2x.png');
      background-size: 100% 100%;
    }
  }
}
@media only screen and (min-width: 1280px) {
  .subscribe {
    padding: 124px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
  }
  .subscribe .content {
    width: 100%;
    margin-right: 100px;
    text-align: left;
  }
  .subscribe .description {
    font-size: 18px;
    margin-bottom: 80px;
    text-align: left;
    padding: 0;
  }
  .subscribe .form {
    margin: 0;
    margin-right: auto;
  }
  .subscribe .img-box {
    border-radius: 80px;
    background-image: url('../img/desktop/subscribe-bcg.png');
    background-size: 100% 100%;
    width: 525px;
    min-width: 525px;
    height: 536px;
  }
  @media (-webkit-min-device-pixel-ratio: 2) {
    .subscribe .img-box {
      background-image: url('../img/desktop/subscribe-bcg@2x.png');
      background-size: 100% 100%;
    }
  }
  .subscribe .img {
    width: 525px;
    height: 500px;
    position: absolute;
    bottom: 0;
  }
}
