.vegetables {
  text-align: center;
  padding: 0 20px;
}
.vegetables .title {
  margin-bottom: 20px;
}
.vegetables .subtitle {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 40px;
}
.vegetables .list .item {
  padding: 40px 20px 20px;
  background-color: var(--light-green);
  border-radius: 20px;
  text-align: left;
  width: 335px;
  height: 443px;
  margin-left: auto;
  margin-right: auto;
}
.vegetables .list .item:not(:last-of-type) {
  margin-bottom: 20px;
}
.vegetables .list .item:nth-child(9) {
  display: none;
}
.vegetables .list .item .vegetable {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1;
  margin-bottom: 8px;
}
.vegetables .list .item .type {
  margin-bottom: 40px;
}
.vegetables .list .item .veg-img {
  width: auto;
  height: 249px;
  margin: 0 auto 22px;
  display: block;
}

.vegetables .list .item .price {
  font-weight: 500;
}
.vegetables .btn-order {
  padding: 9px;
  border: none;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  background-color: var(--orange);
  color: var(--light-bcg-color);
  text-transform: uppercase;
  font-weight: 500;
  transform: rotate(-20deg);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto 0;
}
.vegetables .btn-order:hover,
.vegetables .btn-order:focus {
  background-color: var(--accent-color);
}
.vegetables .btn-order .icon {
  display: block;
  margin-right: 4px;
}

@media only screen and (min-width: 768px) {
  .vegetables .title {
    font-size: 28px;
    margin-bottom: 14px;
  }
  .vegetables .subtitle {
    font-size: 18px;
    padding: 0 70px;
  }
  .vegetables .list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -10px;
  }
  .vegetables .list .item {
    padding: 64px 24px 24px;
    width: 342px;
    height: 465px;
    margin: 10px;
  }
  .vegetables .list .item:not(:last-of-type) {
    margin: 10px;
  }
  .vegetables .list .item .vegetable {
    font-size: 28px;
  }
  .vegetables .list .item .type {
    font-size: 18px;
    margin: 0;
  }
  .vegetables .list .item .veg-img {
    height: 261px;
    margin-bottom: 21px;
  }
  .vegetables .btn-order {
    margin-top: 50px;
    width: 114px;
    height: 114px;
  }
}
@media only screen and (min-width: 1280px) {
  .vegetables {
     max-width: 1280px;
     margin: 0 auto;
  }
  .vegetables .title {
    font-size: 40px;
  }
  .vegetables .subtitle {
    padding: 0 330px;
  }
  .vegetables .list .item {
    width: 389px;
  }
  .vegetables .list .item .vegetable {
    font-size: 32px;
  }
  .vegetables .list .item:nth-child(9) {
    display: block;
  }
  .vegetables .list .item .veg-img {
    margin-bottom: 24px;
  }
}
